body{
  background-color: #0B3861;
  font-family: 'Noto Serif KR', serif;
  margin:0;
  word-break:keep-all;
}
a{
  color:black;
  text-decoration:none;
}
a:hover{
  color:#0B3861;
}
h4{
  font-weight:900;
}

/* navigation */
.button{
  background-color:black;
  border-radius:50%;
  height:50px;
  width:50px;
}
.offcanvas{
  border:0;
}
.menu{
  background:none;
  border:none;
  border-radius:100%;
  color:#0B3861;
  font-size:3rem;
  margin-left:15px;
  padding:0;
  position:fixed;
}
.menu-contents{
  text-align:center;
}
.menu-category{
  padding:10px;
}
.menu-title{
  padding:5px;
  text-decoration:underline;
}
.menu-list{
  font-size:1.2rem;
  line-height:2.5rem;
  padding:20px;
}
.fab{
  font-size:1.5rem;
}

/* work-list */
.row{
  margin:0;
}
.no-padding{
  padding:0;
}
.work-list{
  width:100%;
}

/* about */
.no-content{
  color:white;
  padding:100px;
  text-align:center;
  text-decoration:line-through;
}

/*temporary classes*/
.shortcut{
  color:white;
  font-size:1.5rem;
  height:150px;
  margin:200px 0 150px 70px;
  position:absolute;
  width:200px;
}
.shortcut-ind{
  color:white;
  margin-bottom:10px;
}
.shortcut-ind:hover{
  background-color:white;
  color:#0B3861;
}
.eyesfont{
  background-color:black;
  font-family: 'Noto Sans KR', sans-serif;
}
