body{
  font-family: 'Noto Serif KR', serif;
  margin:0;
  word-break:keep-all;
}
a{
  color:black;
  text-decoration:none;
}
a:hover{
  color:#424242;
}
button{
  background-color:transparent;
  border:1.5px solid #B45F04;
  border-radius:20px;
  color:#B45F04;
  margin-top:10px;
  padding:5px 25px 5px 25px;
}

.container-fluid{
  margin:0;
  padding:0;
}
.row{
  margin-left:0;
  margin-right:0;
  padding:0;
}

/*navbar*/
.navbar-nav{
  font-size:1.2rem;
}
.fab{
  font-size:1.5rem;
}

/* work-list */
.no-padding{
  padding:0;
}

/*temporary classes*/
.col{
  padding:0;
}
.eyesfont{
  background-color:black;
  font-family: 'Noto Sans KR', sans-serif;
}
.section-bottom{
  background-color:#E6E6E6;
  height:30px;
}
.black{
  background-color:black;
}
.white{
  background-color:white;
}
.banner-thumb{
  height:300px;
  margin-top:50px;
}
.banner-text{
  color:white;
  font-family: 'Libre Baskerville', serif;
  margin-top:150px;
}
.banner-title{
  font-size:50px;
}
.banner-subtitle{
  font-size:18px;
}
.feature{
  margin-bottom:30px;
  margin-top:30px;
  text-align:center;
}
.thumb{
  box-shadow:5px 5px 5px #424242;
  width:70%;
}
.feature-text{
  font-size:1.2rem;
  margin-top:20px;
}
.feature-read{
  border:1px solid #A4A4A4;
  color:#A4A4A4;
  font-size:0.8rem;
  margin-top:10px;
}

@media(min-width: 768px){
  .navbar{
    height:100px;
  }
  .row{
    height:350px;
  }
  .section-first{
    margin-top:100px;
  }
}

@media(max-width: 576px){
  .banner-text{
    margin-bottom:30px;
    margin-top:30px;
    text-align:center;
  }
  .banner-thumb{
    height:auto;
    width:100%;
  }
  .banner-title{
    font-size:3.5rem;
    margin-top:0;
  }
}
